<div id="projects">
  <div class="container">
    <h2>Our Experience</h2>
    {% for page in site.pages %}
      {% if page.layout == 'experience' %}
        <div class="project post">
  		    <p>
            <a href="{{site.github.url}}{{page.url}}">
              <img src="{{site.github.url}}{{page.image}}">
            </a>
          </p>
  			  <h3><a href="{{site.github.url}}{{page.url}}">{{page.title}}</a></h3>
  			  <h4>{{page.type}}</h4>
  		  </div>
      {% endif %}
    {% endfor %}
  </div>
</div>
